{% if site.data.navigation.nav[0] %}
  <div class="nav-bar">
    <ul class="nav-menu">
    {% for item in site.data.navigation.nav %}
      <li>
        {% if item.url %}
          <span class="main-item"><a href="{{ item.url }}">{{ item.title }}</a></span>
        {% else %}
          <span class="main-item">{{ item.title }}</span>
        {% endif %}
        {% if item.submenu %}
          {% assign submenu = item.submenu %}
          {% include submenu.html %}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
{% endif %}