---
# Only the main Sass file needs front matter (the dashes are enough)
---
$fade-duration: 2s;

@mixin fadeInStyle() {
    0% {opacity:0;}
	100% {opacity:1;}
}

@mixin fadeOutStyle() {
    0% {opacity:1;}
	100% {opacity:0;}
}

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize",
  "nav";

@font-face {
	font-family: 'italian_cursive';
	src: url('fonts/italian_cursive.TTF');
}

@font-face {
	font-family: 'san_diego';
	src: url('fonts/san_diego.ttf');
}

@font-face {
	font-family: 'yay';
	src: url('fonts/yay.ttf');
}

@mixin float-right($width) {
	margin-top: auto;
	margin-bottom: auto;
	width: $width;
}

@mixin width-fit-content() {
	width: intrinsic;           /* Safari/WebKit uses a non-standard name */
	width: -moz-max-content;    /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
	width: max-content;
}

.site-header {
	border-bottom: none;
	border-top-color: #59171B; /* Caput Mortuum */
}

a.site-title {
	font-weight: bold;
	text-decoration: none;
	font-family: 'italian_cursive';
	font-size: 2em;
}

.mt-center {
	text-align: center;
}

.fade-in {
	animation: fadeIn ease $fade-duration;
	-webkit-animation: fadeIn ease $fade-duration;
	-moz-animation: fadeIn ease $fade-duration;
	-o-animation: fadeIn ease $fade-duration;
	-ms-animation: fadeIn ease $fade-duration;
}

@keyframes fadeIn {
	@include fadeInStyle();
}

@-moz-keyframes fadeIn {
	@include fadeInStyle();
}

@-webkit-keyframes fadeIn {
	@include fadeInStyle();
}

@-o-keyframes fadeIn {
	@include fadeInStyle();
}

@-ms-keyframes fadeIn {
	@include fadeInStyle();
}

.fade-out {
	animation: fadeOut ease $fade-duration;
	-webkit-animation: fadeOut ease $fade-duration;
	-moz-animation: fadeOut ease $fade-duration;
	-o-animation: fadeOut ease $fade-duration;
	-ms-animation: fadeOut ease $fade-duration;
}

@keyframes fadeOut {
	@include fadeOutStyle();
}

@-moz-keyframes fadeOut {
	@include fadeOutStyle();
}

@-webkit-keyframes fadeOut {
	@include fadeOutStyle();
}

@-o-keyframes fadeOut {
	@include fadeOutStyle();
}

@-ms-keyframes fadeOut {
	@include fadeOutStyle();
}

b.employment-duration, b.project-client, b.education-duration {
	@include float-right(15em);
	font-size: 70%;
}

span.prof-rating {
	@include float-right(15em);
	font-size: 85%;
}

span.lang-prof-rating {
	@include float-right(32em);
}

span.employment-record,
span.project-record,
span.education-record,
span.prof-item,
span.lang-prof-item {
	display: inline-flex;
	justify-content: space-between;
	width: 90%;
}

ul.career-ladder {
	margin-bottom: 1em;
}

li {
	&:not(:last-child) {
		ul.project-brief {
			margin-bottom: 1.5em;
		}
	}
}

h2 + ul, ul.bio-data {
	padding-left: 0;
	list-style-type: none;
}

h2 + ul > li:before {
	margin:0 10px 0 -20px;
	font-family: 'FontAwesome';
	content: '\f138';
	font-size: 0.8em;
}

li.bio-data:before {
	margin:0 10px 0 -20px;
	font-family: 'FontAwesome';
	font-size: 0.8em;
}

li.bio-data-name:before {
	content: '\f14a';
}

li.bio-data-location:before {
	content: '\f041';
}

li.bio-data-email:before {
	content: '\f1fa';
}

ul.personal li:before {
	font-size: 1em;
}

ul.personal li.bio:before {
	content: '\f007'
}

ul.personal li.hobbies:before {
	content: '\f118'
}

ul.personal li.traits:before {
	content: '\f087'
}

ul.personal li.languages:before {
	content: '\f1ab'
}

span.tag {
	display: inline-block;
	border: 0.05em solid #bbb;
	border-radius: 0.3em;
	padding: 0 0.5em;
	margin-top: 0.5em;
}

div.tooltip:not(:first-child) {
	margin-left: 0.5em;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	@include width-fit-content();

	visibility: hidden;
	background-color: #132854;
	color: #bbb;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;

	bottom: 100%;
	left: 50%;
	padding: 0 0.5em;
	transform: translateX(-50%);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

i.fac-square {
	position: relative;
    top: -.2em;
    padding: .2em;
    font-size: 1.7em;
    color: #eee;
    background-color: #93a1a1;
    border-radius: 0.25em;
    width: 1em;
    text-align: center;

    &:hover {
		background-color: #4F090C;
	}
}

.mermaid {
	background-color: #fff;
	width: 100%;
	margin: 1em 0;
	
	svg {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

img[src*="#center"] {
	display: block;
    margin: auto;
}

#quote-text {
	font-family: yay;
	font-size: 2em;
	text-align: center;
}

#quote-author {
	font-family: yay;
	font-size: 1.5em;
	text-align: right;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.mermaid::-webkit-scrollbar {
 	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mermaid {
	overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

/* YouTube Video */
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}