<ul class="custom-bullet">
  <li><span class="education-record"><span class="education-title">Master of Science - Network & Information Security</span><b class="education-duration"> - 2021-2022</b></span></li>
  <ul>
    <li>Kingston University - UK</li>
    <li>Overall Result: <b>DISTINCTION</b></li>
    <li><strong>Individual Research</strong>: Utilising Elliptic Curve Cryptosystems in Steganography for enhancing the Security Features of a Stego Object - A Feasibility Study</li>
    <li>LSB+: A novel steganographic algorithm based on LSB embedding with enhanced embedding capacity</li>
    <li>Effects of combining Elliptic Curve operations and pixel segmentation for enhancing cryptographic properties of the carrier image</li>
  </ul>
  <li><span class="education-record"><span class="education-title">Master of Information Security</span><b class="education-duration"> - 2017-2019</b></span></li>
  <ul>
    <li>University of Colombo</li>
    <li>Overall GPA: <b>3.26</b></li>
    <li>Worked in a study group. Helped the batchmates by tutoring on certain subject areas including Information Coding Theory, Digital Rights Management, Secure Software Systems etc.</li>
    <li><strong>Individual Research</strong>: True Randomness using the Randomness in Natural Phenomenon</li>
    <li>Compiled the random generator <a href="https://github.com/000407/floatRAND">FloatRAND</a> as a result of this research study.</li>
  </ul>
  <li><span class="education-record"><span class="education-title">Bachelor of Information Technology</span><b class="education-duration"> - 2012-2015</b></span></li>
  <ul>
    <li>University of Colombo</li>
    <li>Overall GPA - 3.43</li>
    <li>Best e-Learner - Academic Year 2013-2014</li>
    <li>Worked in a study group. Helped the batchmates by tutoring on certain subject areas including Information Security, Mathematics for Computing, Database Systems etc.</li>
  </ul>
  <li><span class="education-record"><span class="education-title">Ranabima Royal College, Peradeniya LK</span><b class="education-duration"> - 2000-2008</b></span></li>
  <ul>
    <li>High School Education</li>
    <li>G.C.E Advanced Level - Physical Science, 1 C Pass and 2 S Passes</li>
    <li>G.C.E Ordinary Level - 8 A Passes, 1 B Pass and 1 C Pass</li>
    <li>Sports - Karate, Volley Ball, Foot Ball, Table Tennis</li>
    <li>Member of the Senior Debating Team</li>
    <li>Member of the Senior Music Ochestra (Keyboards)</li>
    <li>Member of the Media Unit</li>
  </ul>
  <li><span class="education-record"><span class="education-title">Sri Amarawansha Dhamma School, Getambe LK</span><b class="education-duration"> - 1996-2008</b></span></li>
  <ul>
    <li>Sunday School Education</li>
    <li>Dhamma School Final Examination - 2 D Passes and 2 C Passes</li>
    <li>Head Prefect of the Prefects' Court</li>
    <li>Member of the Senior Music Ochestra (Keyboards)</li>
    <li>Captain of the Senior Debating Team</li>
    <li>Buddhism Teaching</li>
  </ul>
</ul>