<ul class="custom-bullet">
  <li class="project-record"><span class="project-record"><span class="project-title">Product Master</span> <b class="project-client"> - Rakuten Group (2024-2025)</b></span></li>
    <ul class="project-brief">
      <li>Main Product Data Ecosystem for Rakuten and it's clients</li>
      <li>Multi-Component Data ETL Pipeline</li>
      <li>In-house + Cloud Workloads</li>
        <ul>
          <li>Data ingestion from multiple sources (3<sup>rd</sup> party vendors, in-house operators, AI agents)</li>
          <li>Transformation, cleansing and enrichment</li>
          <li>Data grouping and access control</li>
          <li>Last-mile delivery</li>
        </ul>
      <li>Architectural design & engineering</li>
      <li>Java (Spring) + Python 3.11 + GCP(Dataflow, Cloud Functions, Workflows, PubSub, GCS, BigQuery, Bigtable) + Hadoop + HDFS + Hive + MySQL 8</li>
      <li>Integration with LLMs using MCP for automation of test/analysis workloads</li>
    </ul>
  <li class="project-record"><span class="project-record"><span class="project-title">grubPos - Point of Sale App</span> <b class="project-client"> - Grubtech (2022)</b></span></li>
    <ul class="project-brief">
      <li>PoS Product of Grubtech</li>
      <li>Flutter application</li>
      <li>Android & iOS Platforms</li>
      <li>Integration with KDS network local kitchen via a local wireless network for offline functioning</li>
      <li>Architectural design & engineering (in the capacity of team lead)</li>
      <li>Flutter (Android & iOS, Method Channels) + Spring Boot + Nodejs + Mongo (DB, Realm, Triggers) + Kafka (on Confluence) + Redis + AWS Elastic Container + CircleCI + Terraform</li>
    </ul>
  <li class="project-record"><span class="project-record"><span class="project-title">grubOne - Kitchen Management App</span> <b class="project-client"> - Grubtech (2022)</b></span></li>
    <ul class="project-brief">
      <li>A fully-fledged food order workflow monitoring and management application</li>
      <li>Flutter application</li>
      <li>Android & iOS Platforms</li>
      <li>Architectural design & engineering</li>
      <li>Flutter (Android & iOS, Method Channels) + Spring Boot + Mongo DB + Kafka + Redis + CircleCI + Terraform</li>
      <li>Backend: Microservice-based, deployed on AWS Elastic Contaier Service</li>
    </ul>
  <li class="project-record"><span class="project-record"><span class="project-title">Menu Items Management Engine for KDS</span> <b class="project-client"> - Grubtech (2021 - 2022)</b></span></li>
    <ul class="project-brief">
      <li>A CRUD engine for menu items management (86ing, enabling, retrieval by keyword search)</li>
      <li>KDS - A front-end application that functions as an interactive display unit in kitchens.</li>
      <li>Backend architectural design & engineering</li>
      <li>Spring Boot + Mongo DB (Mongo Atlas Search, Materialized Views, Change Streams) + Kafka with ksql (on Confluence) + Redis + CircleCI + Terraform</li>
      <li>Backend: Microservice-based, deployed on AWS Elastic Contaier Service</li>
    </ul>
  <li class="project-record"><span class="project-record"><span class="project-title"><a href="https://www.grubtech.com/blog/smart-food-lockers">grub Cubbies</a></span> <b class="project-client"> - Grubtech (2021)</b></span></li>
    <ul class="project-brief">
      <li>IoT-based smart locker system for food pickup and delivery dispatch automation</li>
      <li>Microcontrolled cubbies connecting with each other in a mesh topology</li>
      <li>Backend architectural design</li>
      <li>Spring Boot + Mongo DB + Redis + Kafka (on Confluence) + AWS Elastic Container + JUnit 5 + CircleCI + Terraform</li>
      <li>Backend: Microservice-based, deployed on AWS Elastic Contaier Service</li>
    </ul>
  <li class="project-record"><span class="project-record"><span class="project-title">Backend Development - PayPay Payment Platform</span> <b class="project-client"> - PayPay Corporation (2020)</b></span></li>
    <ul class="project-brief">
      <li>A fully fledged payment platform.</li>
      <li>Outsourced by hSenid Software Lanka to Paypay Corporation (via Fujisoft Incorporated) and assigned in the role of Engineer. Stationed in Yokohama, Japan.</li>
      <li>Server-side development</li>
      <li>Complex data requirements with high-throughput and high availability requirements.</li>
      <li>Spring Boot + MySQL + Apache Hadoop + Apache Spark + Google BigQuery + Kafka + AWS Elastic Containers + GitHub Actions CI/CD + Terraform</li>
    </ul>
  <li class="project-record"><span class="project-record"><span class="project-title"><a href="https://jobsdb.lk/">JobsDB.lk</a></span> <b class="project-client"> - hSenid Software Lanka (2019)</b></span></li>
    <ul class="project-brief">
      <li>A vacancy advertising, CV generation and vacancy application management platform to integrate univerisities and companies.</li>
      <li>Web Application on Angular, with Spring Boot and NoSQL database</li>
      <li>Assigned in the role of Lead Engineer</li>
      <li>Architectural design, server-side & client-side development</li>
      <li>Developed a pluggable authentication module on top of Spring security, with support for OAuth2, JWT and Credential based authentication modes. This module further reduces the boiler-plate code required for Spring security configuration.</li>
      <li>Practiced TDD for the backend server based on Junit 5</li>
    </ul>
  <li class="project-record"><span class="project-record"><span class="project-title">Web Application & API – Kitting System</span> <b class="project-client"> - Kyocera Corporation (2020)</b></span></li>
    <ul class="project-brief">
      <li>A kitting system designed for kitting software and hardware with mobile devices in large bluks.</li>
      <li>Web application on Laravel 6.13 (php 7.3.12) + PostgreSQL 11.6</li>
      <li>Outsourced by hSenid Software Lanka to Fujisoft Incorporated and assigned in the role of Engineer. Stationed in Yokohama, Japan.</li>
      <li>Database architectural design, server-side & client-side development</li>
      <li>Data requirements were quite complex with different forms of semi-structured data. Designed a solution to store semi-structured data in the relational model, based on JSON paths and JSON schema.</li>
    </ul>
  <li class="project-record"><span class="project-record"><span class="project-title">Hospital Group Management System</span> <b class="project-client"> - Singaporean Client (2019)</b></span></li>
    <ul class="project-brief">
      <li>An end-to-end Hospital Management System that includes patient management, appointments management, medical documents management, services and billing management to a group of Hospitals in Singapore</li>
      <li>Web application on Angular, with Spring Boot and Relational + NoSQL</li>
      <li>Outsourced by hSenid Software Lanka and assigned in the role of Engineer. Offshore work collaborating with 3 other teams from Kandy LK, Singapore and Hong Kong.</li>
      <li>Assigned in developing a core report generator module, that collects and summarises data from multiple different documents.</li>
    </ul>
  <li class="project-record"><span class="project-record"><span class="project-title"><a href="https://hsenidjobportal.peopleshr.com">Job Portal</a> for eHRM & PeoplesHR</span> <b class="project-client"> - hSenidBiz (2018)</b></span></li>
    <ul class="project-brief">
      <li>A job advertising, application management and vacancy management system to be integrated with eHRM and PeoplesHR HRM solutions by hSenidBiz</li>
      <li>Web application on KO.js + jQuery 3.3.1 + ASP.NET + SQL Server</li>
      <li>Outsourced by hSenid Software Lanka to hSenidBiz and assigned in the role of Engineer.</li>
      <li>Assigned in the development of the following areas of the Application.</li>
      <ul>
        <li>Authentication (Local + 3<sup>rd</sup> Party)</li>
        <li>Job Advert Publication</li>
        <li>Application for Vacancy</li>
      </ul>
    </ul>
  <li class="project-record"><span class="project-record"><span class="project-title">Reporting Module for SugarCRM</span> <b class="project-client"> - hSenid Mobile (2018)</b></span></li>
    <ul class="project-brief">
      <li>A customizable reporting module for SugarCRM Community</li>
      <li>A module on php 5.6 + jQuery 3.3.1 + MySQL 5.6</li>
      <li>Outsourced by hSenid Software Lanka to hSenid Mobile Solutions and assigned in the role of Engineer.</li>
      <li>The module is capable of reading the report format given in JSON and generating the query required for data selection and projection.</li>
    </ul>
  <li class="project-record"><span class="project-record"><span class="project-title">Single Sign-On Application</span> <b class="project-client"> - DST Brunei (2018)</b></span></li>
    <ul class="project-brief">
      <li>Single Sign-On Application for DST's mobile services platform</li>
      <li>A web application with the backend on JSP (Java 8) + CAS 4.2.4 + Tomcat 6.0 and HTML + jQuery</li>
      <li>Outsourced by hSenid Software Lanka to hSenid Mobile Solutions and assigned in the role of Engineer.</li>
      <li>DST's Mobile Service Platform had multiple applications, which required a single sign-on solution. This was provided with Aperero's CAS, where the DST's platform was written in JSP running on Tomcat 6.0.</li>
    </ul>
  <li class="project-record"><span class="project-record"><span class="project-title">MOMO Reader Integration for Applova</span> <b class="project-client"> - hSenid Mobile (2018)</b></span></li>
    <ul class="project-brief">
      <li>Intgeration of the MOMO payment card reader with the Android App</li>
      <li>An android application with the backend on Spring boot 2.1.8 + Spring 5.1.8 + MySQL 5.7</li>
      <li>Outsourced by hSenid Software Lanka to hSenid Mobile Solutions and assigned in the role of Engineer.</li>
      <li>MOMO is a portable Payment Card Reader that interfaces with other devices using bluetooth. Requirement was to read the payment card using the device into the Android app and perform a payment from the customer to the merchant. Successfully integrated the card reader and transaction processing.</li>
    </ul>
  <li class="project-record"><span class="project-record"><span class="project-title">ClassMate – Classroom/Lecturer Allocation Management</span> <b class="project-client"> - ESOFT Metro Campus (2016)</b></span></li>
    <ul class="project-brief">
      <li>A fully fledged classrooms and lecturers allocation management system</li>
      <li>Web Application on HTML + CSS + jQuery 3.1.1 + php 5.6 + Oracle 11g</li>
      <li>Architect + Developer + Tester (flew solo)</li>
      <li>Part time, self-motivated venture for ESOFT Metro Campus Kandy. As a full time lecturer, developed this application as a solution to existing issues in classrooms and lecturers allocation management.</li>
    </ul>
  <li class="project-record"><span class="project-record"><span class="project-title"><a href="https://quwiz.github.io/home">QuWiz</a> - Online Testing System</span> <b class="project-client"> - Personal Project (2020)</b></span></li>
    <ul class="project-brief">
      <li>An online quiz management application.</li>
      <li>A web application on Angular, AWS Lambda, AWS Cognito and MongoDB Atlas</li>
      <li>Architect + Developer + Tester (flew solo)</li>
      <li>This system provides features to manage quiz applications (quiz structure templates, questions management, scoring etc). Ideal solution of conducting of quiz competitions etc. Used by multiple Educational Institutes.</li>
    </ul>
  <li class="project-record"><span class="project-record"><span class="project-title">Online Testing System</span> <b class="project-client"> - ESOFT Metro Campus (2016)</b></span></li>
    <ul class="project-brief">
      <li>An online testing application for courses provided and awarded by ESOFT Metro Campus.</li>
      <li>A web application on jQuery 3.1.1 + php 7.0 + MySQL 5.6</li>
      <li>Architect + Developer + Tester (flew solo)</li>
      <li>As a full time lecturer to the courses offered and awarded by ESOFT, developed this application to conduct online tests for the students, at various stages of the course. Developed with scalability in mind to later integrate other testing related functionality.</li>
    </ul>
  <li class="project-record"><span class="project-record"><span class="project-title">dBuddy – Depot Management System</span> <b class="project-client"> - SLTB Kandy South (2016)</b></span></li>
    <ul class="project-brief">
      <li>Final year software project during bachelor’s tenure</li>
      <li>A web application on jQuery 3.1.1 + php 7.0 + MySQL 5.6 + Arduino</li>
      <li>A complete bus depot management solution that provides bus fleet management, driver allocation management, fully automated ticketing management, location management and administrative reporting.</li>
      <li>Uses an electronic module developed on Arduino + NFC Reader + GPS and 3G module for position tracking and automated ticketing for commuters</li>
    </ul>
</ul>