---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title mt-center">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content mt-center">
    {{ content }}
  </div>
  <div id="quote" class="fade-in">
    <div id="quote-text">Your attitude, not your aptitude will determine your altitude.</div>
    <div id="quote-author">Hilary Hinton &quot;Zig&quot; Ziglar</div>
  </div>
</article>

<script type="text/javascript">
  $(document).ready(() => {
    $.getJSON('assets/data/quotes.json', (json) => {
      const interval = setInterval(() => {
        $("#quote").toggleClass('fade-in fade-out');

        var to = setTimeout(() => {
          var i = Math.floor(Math.random() * json.quotes.length) + 0;

          $("#quote-text").html(json.quotes[i].text);
          $("#quote-author").html(json.quotes[i].author);
          $("#quote").toggleClass('fade-in fade-out');
        }, 1000);

        
      }, 10000);
    });
  });
</script>